footer {
    padding: 30px;
    color: #fff;
    background-color: #000000;
    flex-shrink: 0;
}

footer span {
    font-size: 12px;
}

footer span a {
    color: #fff;
}

footer h2 {
    margin-top: 0;
}